<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:web-services="http://www.springframework.org/schema/web-services"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
		
		<context:component-scan base-package="com"></context:component-scan>
		<context:annotation-config/>
<context:property-placeholder location="classpath:endpointsv1.properties"/>
		
		<mvc:annotation-driven/> 
		<bean id="loginService"  class="com.service.impl.LoginServiceImpl" autowire="byName">
		<property name="restTemplateClass" ref="restTemplate"></property>
		</bean>
		
		<bean id="testService"  class="com.service.impl.TestImpl" autowire="byName">
		<property name="restTemplateClass" ref="restTemplate"></property>
		<property name="logApiURL" value="${login.endpoint}"></property>
		</bean>
		
	    <bean id="getService"  class="com.service.impl.GetServiceImpl" autowire="byName">
		<property name="restTemplateClass" ref="restTemplate"></property>
		<property name="getApiURL" value="${product.getv1}"></property>
		</bean>
		
		<bean id="getServiceimpltest"  class="com.service.impl.GetImplTest" autowire="byName">
		<property name="restTemplateClass" ref="restTemplate"></property>
		<property name="getApiURL" value="${product.getv1}"></property>
		</bean>
		
		
		<bean id="postService"  class="com.service.impl.PostServiceImpl" autowire="byName">
		<property name="restTemplateClass" ref="restTemplate"></property>
		<property name="postApiURL" value="${product.postv1}"></property>
		</bean>
		
		 <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
	        <property name="messageConverters">
	            <list>
	                  <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		                   <property name="supportedMediaTypes">
		                  <list>
	                        <bean class="org.springframework.http.MediaType">
	                           <constructor-arg value="application" />
	                           <constructor-arg value="json" />
	                           <constructor-arg value="#{T(java.nio.charset.Charset).forName('UTF-8')}"/>
	                         </bean>
	                         </list>
	                         </property>
	                  </bean> 
	                 <bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/> 
	                  <bean class="org.springframework.http.converter.StringHttpMessageConverter ">
	                  	<constructor-arg value="#{T(java.nio.charset.Charset).forName('UTF-8')}"/>
	                  </bean> 
	            </list>
	        </property>
	    </bean>
    
    
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename">
			<value>error</value>
		</property>
	</bean>	
</beans>